* text=auto

*.js text
*.jsx text
*.ts text
*.tsx text
*.css text
*.json text
*.html text
*.md text

*.js eol=lf
*.jsx eol=lf
*.ts eol=lf
*.tsx eol=lf
*.css eol=lf
*.json eol=lf
*.html eol=lf
*.md eol=lf